*.class
.project
.metadata
bin/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Package Files #
*.jar
*.war
*.ear

# Word docs
*~
